.addTodoItem {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  input {
    background: none;
    border: none;
    border-bottom: 1px solid #DEE1E6;
    padding: 10px 0;
    outline: none;
  }

  button {
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 6.5rem;
    height: 2.5rem;
    background-color: #5192fe;
    cursor: pointer;
  }
}
