@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #f3f3fb;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 2rem auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
